body {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.search-bar,.search-button {
  margin-top: 2rem;
  height: 2rem;
  border : 0px;
  border-radius: 5px;
}
.search-button {
  background-color: #2f8fd6;
  color: #ffffff;
  cursor: pointer;
}
.search-bar {
  margin-left: 35%;
  width: 25%;
  padding: 0;
}

.search-bar:focus {
  background-color: #c9deea;
  outline: none;
}

.recipes {
  box-shadow: 0px 5px 10px rgb(71,71,71);

  border-radius:  10px;
  margin: 20px;

  background-color: #ffffff;
  align-items: center;
  width: 40%;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

li {
  list-style-type: none;
}

